<!DOCTYPE html>
<html>
<head>
  <title>Input Form</title>
</head>
<body>
  <h1>Input Form</h1>
  <form action="/input-list" method="post">
    <label for="input1">Input 1:</label>
    <input type="text" id="input1" name="input1"><br><br>

    <label for="input2">Input 2:</label>
    <input type="text" id="input2" name="input2"><br><br>

    <label for="input3">Input 3:</label>
    <input type="text" id="input3" name="input3"><br><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>
